.navbar-main {
    height: 100px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
}

.navbar-tab {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.navbar-home {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}