#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(var(--main-bg-color));
}

.cookie-popper {
  width: 30%;
  height: fit-content;
  padding: 0 20px;
  position: fixed;
  top: 30px !important;
  left: 70vw !important;
}
