#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(var(--main-bg-color));
}

.cookie-popper {
  height: fit-content;
  padding: 0 20px;
  position: fixed;
}

@media (min-width:320px)  {
  .cookie-popper {
    width: 70%;
    top: 70vh !important;
    left: 30vw !important;
  }
}

@media (min-width:481px)  {
  .cookie-popper {
    width: 60%;
    top: 85vh !important;
    left: 40vw !important;
  }
}

@media (min-width:641px)  {
  .cookie-popper {
    width: 40%;
    top: 85vh !important;
    left: 60vw !important;
  }
}

@media (min-width:961px)  {
  .cookie-popper {
    width: 40%;
    top: 85vh !important;
    left: 60vw !important;
  }
}

@media (min-width:1025px) {
  .cookie-popper {
    width: 40%;
    top: 85vh !important;
    left: 60vw !important;
  }
}

@media (min-width:1281px) {
  .cookie-popper {
    width: 30%;
    top: 85vh !important;
    left: 70vw !important;
  }
}