.overview-main {
    height: calc(100vh - 150px);
    background-color: grey;
    width: 100vw;
    display: flex;
    overflow: scroll;
    padding: 20px 20px 0 20px;
}

.overview-item-main {
    padding: 0;
}

.overview-outer-grid {
    background-color: transparent;
}

.overview-popup-box {
    width: max-content;
    height: max-content;
    background-color: black;
    color: white;
}