.overview-main {
    /*height: calc(100vh - 150px);*/
    background-color: rgba(var(--main-bg-color));
    width: 100vw;
    overflow: scroll;
    padding: 20px 20px 0 20px;
}

.overview-item-main {
    padding: 0;
}

.overview-item-card {
    background-color: rgba(var(--main-bg-color)) !important;
    box-shadow: none !important;
}

.overview-item-img {
    border-radius: 5px;
    background-color: transparent;
}

.overview-item-content {
    background-color: rgba(var(--main-bg-color));
    text-align: left;
    padding: 10px 0 0 0 !important;
}

.overview-item-content-text {
    color: rgba(var(--main-txt-color));
    line-height: 1.3em !important;
}

.overview-item-content p:nth-child(2) {
    color: rgba(var(--secondary-txt-color));
}

.overview-item-content div {
    display: flex;
    justify-content: space-between;
}

.overview-item-content div p:nth-child(2) {
    color: rgba(var(--secondary-txt-color));
}

.overview-outer-grid {
    background-color: transparent;
}