.overview-main {
    height: calc(100vh - 150px);
    background-color: black;
    width: 100vw;
    overflow: scroll;
    padding: 20px 20px 0 20px;
}

.overview-item-main {
    padding: 0;
}

.overview-item-card {
    background-color: black !important;
}

.overview-item-img {
    border-radius: 5px;
    background-color: transparent;
}

.overview-item-content {
    background-color: black;
    text-align: left;
    padding: 10px 0 0 0 !important;
}

.overview-item-content-text {
    color: white;
    line-height: 1.3em !important;
}

.overview-item-content div {
    display: flex;
    justify-content: space-between;
}

.overview-outer-grid {
    background-color: transparent;
}