.overview-main {
    height: calc(100vh - 150px);
    background-color: black;
    width: 100vw;
    overflow: scroll;
    padding: 20px 20px 0 20px;
}

.overview-item-main {
    padding: 0;
}

.overview-item-card {
    background-color: black !important;
}

.overview-item-img {
    border-radius: 5px;
    background-color: transparent;
}

.overview-item-content {
    background-color: black;
    text-align: left;
    padding: 10px 0 0 0 !important;
}

.overview-item-content-text {
    color: white;
    line-height: 1.3em !important;
}

.overview-item-content div {
    display: flex;
    justify-content: space-between;
}

.overview-outer-grid {
    background-color: transparent;
}

#popup-anchor {
    height: 1px;
    width: 100%;
}

.overview-popup-box {
    width: 60vw;
    height: calc(100vh - 200px);
    color: white;
    overflow: visible;
}

.overview-popup-card {
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px -1px black !important;
    overflow: scroll !important;
}

.overview-popup-iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.overview-popup-header {
    margin-top: 1% !important;
}