.contact-main {
    height: calc(100vh - 150px);
    background-color: rgba(var(--main-bg-color));
    width: 100vw;
    overflow: scroll;
    padding: 20px 20px 0 20px;
    color: rgba(var(--main-txt-color));
}

.contact-center {
    height: fit-content;
    width: 35%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-center > div {
    display: flex;
    justify-content: center;
}

.contact-main > h5 {
    margin-top: 4vh;
    color: rgba(var(--secondary-txt-color));
}

#contact-form {
    margin-top: 20px;
    width: 100%;
}

#contact-form div {
    display: grid;
    text-align: start;
    margin-bottom: 20px;
    height: fit-content;
}

#contact-form div:last-child {
    display: flex;
    text-align: start;
    margin-bottom: 5px;
    height: fit-content;
}

#contact-form input[type=text] {
    border-radius: 5px;
    box-shadow: inset 0 0 2px 0 rgba(var(--secondary-txt-color)) !important;
    height: 30px;
    background-color: rgba(var(--main-bg-color));
    border: none;
    font-size: 16px;
    padding-left: 2%;
}

#contact-form textarea {
    border-radius: 5px;
    box-shadow: inset 0 0 2px 0 rgba(var(--secondary-txt-color)) !important;
    border: none;
    height: 100px;
    background-color: rgba(var(--main-bg-color));
    font-size: 16px;
    padding-left: 2%;
    line-height: 1.5;
}

#contact-form input[type=submit] {
    background-color: rgba(var(--secondary-txt-color));
    border-radius: 5px;
    height: 35px;
    width: 130px;
    font-size: 18px;
    border: none;
    margin-right: 30px;
    color: rgba(var(--main-txt-color));
}

#contact-form input[type=submit]:hover {
    cursor: pointer;
    box-shadow: inset 0 0 4px 0 rgba(var(--main-bg-color));
}

@media (min-width:320px) {
    #contact-form {
        padding: 5px;
    }
}

@media (min-width:481px) {
    #contact-form {
        padding: 10px;
    }
}

@media (min-width:641px) {
    #contact-form {
        padding: 15px;
    }
}

@media (min-width:961px) {
    #contact-form {
        padding: 20px;
    }
}

@media (min-width:1025px) {
    #contact-form {
        padding: 25px;
    }
}

@media (min-width:1281px) {
    #contact-form {
        padding: 30px;
    }
}