.contact-main {
    height: calc(100vh - 150px);
    background-color: var(--main-bg-color);
    width: 100vw;
    overflow: scroll;
    padding: 20px 20px 0 20px;
    color: var(--main-txt-color);
}

.contact-main > div {
    display: flex;
    justify-content: center;
}

#contact-form {
    width: 40%;
    padding: 30px;
    margin-top: 20px;
}

#contact-form label {
    font-size: large;
}

#contact-form div {
    display: grid;
    text-align: start;
    margin-bottom: 20px;
    height: fit-content;
}

#contact-form div:last-child {
    display: flex;
    text-align: start;
    margin-bottom: 5px;
    height: fit-content;
}

#contact-form input[type=text] {
    border-radius: 5px;
    box-shadow: inset 0 0 2px 0 var(--secondary-txt-color) !important;
    height: 30px;
    background-color: var(--main-bg-color);
    border: none;
}

#contact-form textarea {
    border-radius: 5px;
    box-shadow: inset 0 0 2px 0 var(--secondary-txt-color) !important;
    border: none;
    height: 100px;
    background-color: var(--main-bg-color);
}

#contact-form input[type=submit] {
    background-color: var(--secondary-txt-color);
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: x-large;
    color: var(--main-bg-color);
    border: none;
}

#contact-form input[type=submit]:hover {
    cursor: pointer;
    box-shadow: inset 0 0 4px 0 var(--main-bg-color);
}