.project-page-main {
    height: calc(100vh - 150px);
    background-color: rgba(var(--main-bg-color));
    width: 100vw;
    overflow: scroll;
    padding: 20px 20px 0 20px;
    justify-items: center;
    display: grid;
}

.project-page-embed-container {
    width: 100%;
    height: fit-content;
}

.project-page-embed-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.project-page-info {
    text-align: center;
}

.project-page-info h4{
    color: rgba(var(--secondary-txt-color));
}

.project-page-info h3 {
    color: rgba(var(--main-txt-color));
}

.project-page-badge-box {
    width: 60%;
    margin-top: 1%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.role-badge {
    background-color: rgba(var(--secondary-txt-color), 0.4) ;
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 10px;
}

.role-badge p {
    text-align: center;
    font-size: 16px;
    color: rgba(var(--main-txt-color));
}

@media (min-width:320px) {
    .project-page-embed-container {
        padding: 0 20% 2% 20%;
    }
}

@media (min-width:481px) {
    .project-page-embed-container {
        padding: 0 0 2% 0;
    }
}

@media (min-width:641px) {
    .project-page-embed-container {
        padding: 0 5% 2% 5%;
    }
}

@media (min-width:961px) {
    .project-page-embed-container {
        padding: 0 10% 2% 10%;
    }
}

@media (min-width:1025px) {
    .project-page-embed-container {
        padding: 0 15% 2% 15%;
    }
}

@media (min-width:1281px) {
    .project-page-embed-container {
        padding: 0 20% 2% 20%;
    }
}