.project-page-main {
    background-color: rgba(var(--main-bg-color));
    width: 100vw;
    overflow-y: scroll;
    padding: 20px 20px 0 20px;
    justify-items: center;
    display: grid;
}

.project-page-embed-container {
    width: 100%;
    height: auto;
}

.project-page-embed-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.project-page-info {
    text-align: center;
    width: 100%;
}

.project-page-info h4{
    width: 100%;
    color: rgba(var(--secondary-txt-color));
}

.project-page-info h3 {
    width: 100%;
    color: rgba(var(--main-txt-color));
    margin: 1% 0;
}

.project-page-badge-box {
    width: 60%;
    margin-top: 1%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

.role-badge {
    background-color: rgba(var(--secondary-txt-color), 0.4) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px 10px;
}

.role-badge p {
    text-align: center;
    font-size: 1em;
    color: rgba(var(--main-txt-color));
}

.project-visual-box {
    width: 100%;
    display: flex;
    padding: 2%;
    flex-flow: wrap;
    justify-content: center;
}

.project-visual-box-element {
    width: 40%;
    height: auto;
    margin: 5px;
}

.project-visual-box-element img {
    width: 100%;
    height: auto;
    aspect-ratio: unset;

}

@media (min-width:320px) {
    .project-page-embed-container {
        padding: 0 0 2% 0;
    }

    .project-page-badge-box {
        width: 100%;
    }

    .project-page-info h3 {
        font-size: 1.4em;
    }

    .project-page-info h4 {
        font-size: 1.1em;
    }

    .role-badge {
        height: 30px;
        width: 100px;
        font-size: 0.9em;
    }
}

@media (min-width:481px) {
    .project-page-embed-container {
        padding: 0 0 2% 0;
    }

    .project-page-badge-box {
        width: 100%;
    }

    .project-page-info h3 {
        font-size: 1.6em;
    }

    .project-page-info h4 {
        font-size: 1.3em;
    }
}

@media (min-width:641px) {
    .project-page-embed-container {
        padding: 0 5% 2% 5%;
    }

    .project-page-badge-box {
        width: 100%;
    }

    .project-page-info h3 {
        font-size: 1.8em;
    }

    .project-page-info h4 {
        font-size: 1.5em;
    }
}

@media (min-width:961px) {
    .project-page-main {
        height: calc(100vh - 150px);
    }

    .project-page-embed-container {
        padding: 0 10% 2% 10%;
    }

    .project-page-badge-box {
        width: 100%;
    }

    .project-page-info h3 {
        font-size: 2em;
    }

    .project-page-info h4 {
        font-size: 1.7em;
    }
}

@media (min-width:1025px) {
    .project-page-main {
        height: calc(100vh - 150px);
    }

    .project-page-embed-container {
        padding: 0 15% 2% 15%;
    }

    .project-page-badge-box {
        width: 100%;
    }

    .project-page-info h3 {
        font-size: 2.2em;
    }

    .project-page-info h4 {
        font-size: 1.9em;
    }
}

@media (min-width:1281px) {
    .project-page-main {
        height: calc(100vh - 150px);
    }

    .project-page-embed-container {
        padding: 0 min(20%, 300px) 0 min(20%, 300px);
        max-width: 1500px;
    }

    .project-page-badge-box {
        width: 100%;
    }

    .project-page-info h3 {
        font-size: 2.5em;
    }

    .project-page-info h4 {
        font-size: 2.1em;
    }
}