.navbar-main {
    height: 100px;
    width: 100vw;
    background-color: rgba(var(--main-bg-color));
    display: flex;
}

.navbar-tab {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-home {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-home-margin {
    margin-left: 0;
}

.navbar-back {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 15px;
}

.navbar-back:hover {
    color: rgba(var(--main-txt-color));
}

.navbar-padding-left {
    padding-left: 15px;
}

.navbar-txt-selected {
    color: rgba(var(--main-txt-color));
}

.navbar-txt-unselected {
    color: rgba(var(--secondary-txt-color));
}

@media (min-width:320px) {
    .navbar-main p {
        font-size: 1.5em;
    }

    .navbar-home-margin {
        margin-left: 20px;
    }

    .navbar-tab {
        margin-left: 20px;
    }
}

@media (min-width:481px) {
    .navbar-main p {
        font-size: 1.6em;
    }

    .navbar-home-margin {
        margin-left: 30px;
    }

    .navbar-tab {
        margin-left: 30px;
    }
}

@media (min-width:641px) {
    .navbar-main p {
        font-size: 1.7em;
    }

    .navbar-home-margin {
        margin-left: 40px;
    }

    .navbar-tab {
        margin-left: 40px;
    }
}

@media (min-width:961px) {
    .navbar-main p {
        font-size: 1.9em;
    }

    .navbar-home-margin {
        margin-left: 50px;
    }

    .navbar-tab {
        margin-left: 50px;
    }
}

@media (min-width:1025px) {
    .navbar-main p {
        font-size: 2.1em;
    }

    .navbar-home-margin {
        margin-left: 60px;
    }

    .navbar-tab {
        margin-left: 60px;
    }
}

@media (min-width:1281px) {
    .navbar-main p {
        font-size: 2.3em;
    }

    .navbar-home-margin {
        margin-left: 80px;
    }

    .navbar-tab {
        margin-left: 80px;
    }
}