.navbar-main {
    height: 100px;
    width: 100vw;
    background-color: black;
    display: flex;
}

.navbar-tab {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: gray;
}

.navbar-home {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 15px;
    color: white;
}

@media (min-width:320px) {
    .navbar-main p {
        font-size: 1.5em;
    }

    .navbar-tab {
        margin-left: 20px;
    }
}

@media (min-width:481px) {
    .navbar-main p {
        font-size: 1.6em;
    }

    .navbar-tab {
        margin-left: 30px;
    }
}

@media (min-width:641px) {
    .navbar-main p {
        font-size: 1.7em;
    }

    .navbar-tab {
        margin-left: 40px;
    }
}

@media (min-width:961px) {
    .navbar-main p {
        font-size: 1.9em;
    }

    .navbar-tab {
        margin-left: 50px;
    }
}

@media (min-width:1025px) {
    .navbar-main p {
        font-size: 2.1em;
    }

    .navbar-tab {
        margin-left: 60px;
    }
}

@media (min-width:1281px) {
    .navbar-main p {
        font-size: 2.3em;
    }

    .navbar-tab {
        margin-left: 80px;
    }
}