.footer-main {
    background-color: black;
    color: lightgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box {
    width: 50%;
}

.footer-box-left {
    text-align: end;
    padding-right: 10px;
}

.footer-box-right {
    text-align: start;
    padding-left: 10px;
}

.footer-box-right a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}