.footer-main {
    background-color: rgba(var(--main-bg-color));
    color: rgba(var(--secondary-txt-color));
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box {
    width: 80%;
    font-size: 0.8em;
}

.footer-box a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}