.footer-main {
    background-color: var(--main-bg-color);
    color: var(--secondary-txt-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box {
    width: fit-content;
}

.footer-box a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}